:root{
    --principalFont: 'Roboto', sans-serif;
    --titleFont: 'Barlow', sans-serif;
    --bckgColor: #000022;
    --boxColor: #001242;
    --highlightColor: #0094C6;
    --markColor: #005E7C;
    --darkColor: #040F16;
    --lightColor: #ffffff;
}

/*global featueres*/

.hide{
    display: none;
}

*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0; 
    padding: 0; 
    overflow-x:hidden;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
	height: 100vh;
    font-size: 16px;
    font-family: var(--principalFont);
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #0B2027, #40798C, #70A9A1, #CFD7C7,#F6F1D1);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;   
}

ul{
    padding: 0;
    margin: 2;
}

ul li{
    list-style: none;

}

img{
    width: 100%;
}

.border-red{
    border-color: red;
}

.error-msg{
    margin: 2rem 0 0 0;
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.opacity{
    opacity: 50%;
}

.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
}

/*box container*/
.box{
    position: fixed;
    background-image: linear-gradient(to right, #284c48, #2c605b, #307570, #318b85, #31a19b, #2ea6a0, #2aaca5, #26b1aa, #21a69f, #1b9c94, #159189, #0f877f);
    padding: 5rem;
    border-radius: 20px;
    transition: linear 1s;
    top: 20%;
    right: 25%;
    left: 25%;
    box-shadow: -7px 8px 27px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 8px 27px 3px rgba(0,0,0,0.75);
}

.box-question{
    top:10%;
    bottom: 10%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.box ul{
    display: flex;
    justify-content: center;
}

.box ul li{
    margin-top: 2rem;
}

/*user container*/

.user-title{
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-bottom: 2rem;
}

.user-title__name{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-style: italic;
    font-weight: bold;
    font-size: 3.5rem;
    background: linear-gradient(-45deg, #0B2027, #40798C, #70A9A1, #CFD7C7,#F6F1D1);
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text;
    animation: gradient 15s ease infinite;
}

.user-data{
    border-radius: 10px;
    padding: .8rem;
    text-transform: uppercase;
    color: var(--darkColor);
    text-align: center;
}


.button-user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.btn-style {
    background: var(--darkColor);
    color: var(--lightColor);
    border: .2px solid var(--darkColor);
    border-radius: 20px;
    text-shadow: none;
    padding: 1rem 5rem;
    transition: .5s;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}

.btn-style:hover {
    transition: .5s;
    background: var(--lightColor);
    color: var(--darkColor);
    border: .2px solid var(--lightColor);
}

.btn-icon{
    width: 20px;
}

/*quiz container*/

.question-title{
    text-align: center;
    font-family: var(--titleFont);
    text-transform: uppercase;
    font-style: italic;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    background: linear-gradient(-45deg, #70A9A1, #CFD7C7,#F6F1D1);
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text;
    animation: gradient 10s ease infinite;
}

#btn-sp{
    margin-top: 3rem;
}


.answer-label {
    display: flex;
    align-items: center;
    border-radius: 10rem;
    padding: 1.4rem 1.6rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: .2s;
}

.answer-label:hover{
    background: var(--darkColor);
}

.answer-label:focus-within {
    background-color: var(--lightColor);
}

.answer-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.answer-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: var(--highlightColor);
    position: relative;
}

.answer-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: var(--lightColor);
    transform: scale(1.1);
    transition: .2s;
}


.answer-input:checked+.answer-design::before {
    transform: scale(0);
}

.answer-text {
    color: var(--lightColor);
    margin-left: 1.4rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    transition: .1s;
}

.answer-input:checked~.answer-text {
    color: var(--highlightColor);
}
.cursor-disabled{
    cursor: not-allowed;
}


#counter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem 0 .5rem 0;
    background-color: #00000059;
    border-radius: 10px;
}

.question-points ,.question-counter {
    display: flex;
    color: var(--lightColor);
    padding: .9rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.question-counter{
    justify-content: flex-end;
    border-left: .5px solid var(--lightColor);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.player-box{
    display: grid;
    grid-template-areas: "place name name points";
    grid-template-columns: 30px auto;
    background-color: var(--lightColor);
    padding: 1.5rem;
    border-radius: 20px;
    border-bottom: 1px dotted var(--darkColor);
}

.player-place{
    grid-area: place
}

.player-name{
    grid-area: name;    
    border-right: 1px dotted var(--darkColor);
    padding-right: 1rem;
}

.player-points{
    grid-area: points;
    margin-left: 1rem;
}

.player-place__title, .player-name__title, .player-points__title{
    border-bottom: 1px dotted var(--darkColor);
    margin-bottom: 1.5rem;
}

.player-place__input,.player-name__input, .player-points__input{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem 0;
    border-bottom: 1px dotted var(--darkColor);
    background: linear-gradient(-45deg, #0B2027, #40798C, #70A9A1);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s linear;
}


.welcome, .intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-h1{
    width: auto;
}

.welcome-title{
    font-size: 2rem;
    color: var(--darkColor);
}

.welcome-name{
    color: var(--lightColor);
    font-size: 4rem;
    text-shadow: 2px 5px 5px var(--darkColor);
}

.welcome-title , .welcome-name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


.color-title{
    background: linear-gradient(-45deg, #0B2027, #40798C, #70A9A1);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    animation: gradient 15s ease infinite;
}


/* Mobile phones */
@media (max-height: 375px){
    .container{
        position: absolute;
    }
    .box{
        position: absolute;
        top: 5%;
    }   
}

@media (max-width: 480px){
    .user-title{
        font-size: 2.2rem;
    }
    .box{
        top: 20%;
        right: 3%;
        left: 3%;
    }

    .box-question{
        top: 10%;
    }
    .title{
        left: 10%;
        right: 10%;
        padding: 5rem 4rem;
        width: auto;
    }

    .title_name{
        font-size: 5rem;
    }
}