:root{
    --principalFont: 'Roboto', sans-serif;
    --bckgColor: #000022;
    --boxColor: #001242;
    --highlightColor: #0094C6;
    --markColor: #005E7C;
    --darkColor: #040F16;
    --lightColor: #ffffff;
}

/*global featueres*/

.hide{
    display: none;
}

*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0; 
    padding: 0; 
    overflow-x:hidden;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: var(--principalFont);
    background-image: url('../IMG/bckg1.jpg');
}

ul{
    padding: 0;
    margin: 2;
}

ul li{
    list-style: none;

}

img{
    width: 100%;
}

.border-red{
    border-color: red;
}

.error-msg{
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.opacity{
    opacity: 50%;
}

.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
}

/*box container*/
.box{
    margin: 20vh 20vw;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-image: linear-gradient(to right, #284c48, #2c605b, #307570, #318b85, #31a19b, #2ea6a0, #2aaca5, #26b1aa, #21a69f, #1b9c94, #159189, #0f877f);
    padding: 5rem;
    border-radius: 40px;
    transition: linear 1s;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.box ul{
    display: flex;
    justify-content: center;
}

.box ul li{
    margin-top: 2rem;
}

/*user container*/

.user-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: #65DBC3;
    background: -webkit-linear-gradient(to right, #65DBC3 38%, #FFF56E 53%);
    background: linear-gradient(to right, #65DBC3 38%, #FFF56E 53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    font-size: 2.8rem;
}

.user-logo{
    width: 40px;
}


.user-data{
    border-radius: 10px;
    padding: .8rem;
    text-transform: uppercase;
    color: var(--darkColor);
    text-align: center;
}


.button-user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.btn-style {
    background: var(--darkColor);
    color: var(--lightColor);
    border: .2px solid var(--darkColor);
    border-radius: 20px;
    text-shadow: none;
    padding: 1rem 5rem;
    transition: .5s;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}

.btn-style:hover {
    transition: .5s;
    background: var(--lightColor);
    color: var(--darkColor);
}



@media (max-width: 728px){
    .box{
        margin: 60px 20px;
    }
    .box-phone{
        margin: 130px 20px;
    }
    .user-title{
        font-size: 2.3rem;
    }
}

.btn-icon{
    width: 20px;
}

/*quiz container*/

.question-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--lightColor);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.answer-label {
    display: flex;
    align-items: center;
    border-radius: 10rem;
    padding: 1.4rem 1.6rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: .2s;
}

.answer-label:hover{
    background: var(--darkColor);
}

.answer-label:focus-within {
    background-color: var(--lightColor);
}

.answer-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.answer-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: var(--highlightColor);
    position: relative;
}

.answer-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: var(--lightColor);
    transform: scale(1.1);
    transition: .2s;
}


.answer-input:checked+.answer-design::before {
    transform: scale(0);
}

.answer-text {
    color: var(--lightColor);
    margin-left: 1.4rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    transition: .1s;
}

.answer-input:checked~.answer-text {
    color: var(--highlightColor);
}
.cursor-disabled{
    cursor: not-allowed;
}


#counter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem 0 .5rem 0;
    background-color: #00000059;
    border-radius: 10px;
}

.question-points ,.question-counter {
    display: flex;
    color: var(--lightColor);
    padding: .9rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
}

.question-counter{
    justify-content: flex-end;
    border-left: .5px solid var(--lightColor);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.player-box{
    display: grid;
    grid-template-areas: "place name name points";
    grid-template-columns: 30px auto;
    background-color: var(--lightColor);
    padding: 1.5rem;
    border-radius: 20px;
    border-bottom: 1px dotted var(--darkColor);
}

.player-place{
    grid-area: place
}

.player-name{
    grid-area: name;    
    border-right: 1px dotted var(--darkColor);
    padding-right: 1rem;
}

.player-points{
    grid-area: points;
    margin-left: 1rem;
}

.player-place__title, .player-name__title, .player-points__title{
    border-bottom: 1px dotted var(--darkColor);
    margin-bottom: 1.5rem;
}

.player-place__input,.player-name__input, .player-points__input{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem 0;
    border-bottom: 1px dotted var(--darkColor);

}
.player-place__input{
    color: var(--markColor);
}
.player-name__input{
    background: #55DBB3;
    background: -webkit-linear-gradient(to right, #55DBB3 1%, #FF1717 21%);
    background: -moz-linear-gradient(to right, #55DBB3 1%, #FF1717 21%);
    background: linear-gradient(to right, #55DBB3 1%, #FF1717 21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player-points__input{
    background: #CCDB69;
    background: -webkit-linear-gradient(to right, #CCDB69 3%, #FF1717 58%);
    background: -moz-linear-gradient(to right, #CCDB69 3%, #FF1717 58%);
    background: linear-gradient(to right, #CCDB69 3%, #FF1717 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;    
}


